body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #87cffc;
    color: #343A40;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
  }
  h1, h3 {
    font-weight: bold;
    color: #495057;
    margin-bottom: 1em;
  }

  h1{
    font-size: 48px;
  }
  .input-wrapper {
    position: relative;
  }
  .custom-file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  #fileLabel {
    background-color: #343A40;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 36px;
  }

  #fileLabel:hover {
    background-color: #495057;
  }
  .thumbnail {
    width: 100px;
    height: auto;
    margin-left: 15px;
  }
  .image-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #uploadButton {
    font-size: 18px;
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
  }
  .image-container {
    display: inline-block;
    margin: 2em;
    padding: 2em;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  .image-container img {
    max-width: 300px;
  }
  .download-button {
    font-size: 18px;
    margin-top: 1em;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
#thumbnailContainer{
    padding: 50px;
  }